.continious-table {
    /* width: 100%;*/
    border-collapse: collapse; /* Collapse table borders */
    border: solid; /* Add border around the table */
    /* border-radius: 20px; */
}


.continious-table-container th{
    border: solid;
}

.continious-table-container td{
    border: solid;
}

.normal-dist-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.normal-dist-form .submit-btn {
    margin-top: 15px;
}

.bar-container {
    width: 900px;
    margin-top: 20px;
}