/* .npi .item {
  margin-right: 20px;
} */

.bar-container {
  width: 800px;
}


.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: auto; */
  
  border: solid;
}

.select-law {
  margin-top: 10%;
}